{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            <h1>{{title}}</h1>
            <br/>
            <p>To: {{ user.first_name }} {{ user.last_name }} ({{ user.email }})</p>
            </p>
            <br/>
            <form class="clock-form" method='post' role='form'>
                {{ wtf.form_field(form.subject, autocomplete='off') }}
                {{ wtf.form_field(form.message) }}
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.submit) }}
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% block footer %}
    {{  super() }}{% endblock footer%}
{% endblock %}
