{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% import 'macros.html' as m %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        <h1 style="text-align:center;">{{ title }}</h1>
        <div class="filter-controls">
            <a href="{{url_for('admin.users')}}?filter=all">All</a>
            <a href="{{url_for('admin.users')}}?filter=clients">Clients</a>
            <a href="{{url_for('admin.users')}}?filter=students">Students</a>
            <a href="{{url_for('admin.users')}}?filter=staff">Staff</a>
            <a href="{{url_for('admin.users')}}?filter=recent">Recent</a>
        </div>
        {% if users %}
            <table class="wide-table table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Name </th>
                  <th width="5%"> Validated </th>
                  <th width="5%"> Logins</th>
                  <th width="10%"> Last login</th>
                  <th width="10%"> Programme </th>
                  <th width="15%"> Company </th>
                  <th width="10%"> Web </th>
                  <th width="5%"> Profile </th>
                  <th width="5%"> Interest</th>
                  <th width="5%">Flags</th>
                  <th width="5%">Teams</th>
                  <th width="15%"> Actions </th>
                </tr>
              </thead>
              <tbody>
              {% for user in users %}
                {% if user.is_admin %}
                    <tr style="background-color: #aec251; color: white;">
                {% else %}
                    <tr>
                {% endif %}
                  <td> {{ user.first_name }} {{ user.last_name }} </td>
                  <td>
                    {% if user.confirmation_token == None %}
                      Yes
                    {% else %}
                      No
                    {% endif %}
                  </td>
                  <td>
                    {{ user.login_count }}
                  </td>
                  <td>
                    {% if user.last_login != None %}
                        {{ user.last_login.strftime('%Y-%m-%d %H:%M')  }}
                    {% endif %}
                  </td>
                  <td>
                    {% if user.programme %}
                      {{ user.programme.code }}
                    {% else %}
                      -
                    {% endif %}
                  </td>
                  <td>
                    {% if user.company %}
                      {{ user.company.name }}
                    {% elif user.is_student %}
                      Student
                    {% endif %}
                  </td>
                  <td>
                    {% if user.company %}
                      {{ user.company.web }}
                    {% else %}
                      -
                    {% endif %}
                  </td>
                  <td>
                    {% if user.company %}
                      {{ (100 * user.company.percent_complete) | round |int }}%
                    {% else %}
                      -
                    {% endif %}
                  </td>
                  <td>
                    {{ user.notes_of_interest | length }}
                  </td>
                  <td>
                    {{ user.flags | length }}
                  </td>
                  <td>
                    {{ user.members | length }}
                  </td>
                  <td>
                    {{ m.email('Email', 'admin.users', user.id) }}
                    {{ m.edit('user', user.id) }}
                        <a href="{{url_for('admin.delete_user',
                           id=user.id) }}"
                           data-toggle="confirmation"
                           data-title="Are you sure you want to delete this user?"
                        >
                           <span class="large-icon action-glyph glyphicon glyphicon-remove-sign"></span></a>
                      {% if user.company and not user.company_confirmed%}
                        <a
                           href="{{ url_for('admin.confirm_user', id=user.id) }}"
                           data-toggle="confirmation"
                           data-title="Are you sure you want to confirm the company for this user?">
                            <span class="large-icon action-glyph glyphicon glyphicon-ok-sign"></span>
                        </a>
                      {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% block footer %}{{  super() }}{% endblock footer%}
{% endblock %}
