{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% import 'macros.html' as m %}
{% block title %}Teams{% endblock %}
{% block content %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        <h1 style="text-align:center;">Teams</h1>
        {% if teams %}
            <table class="table table-striped table-bordered wide-table">
              <thead>
                <tr>
                  <th width="5%"> Team </th>
                  <th width="25%"> Project </th>
                  <th width="5%"> Status </th>
                  <th width="25%"> Members </th>
                  <th width="15%"> Created </th>
                  <th width="15%"> Updated </th>
                  <th width="15%"> Actions </th>
                </tr>
              </thead>
              <tbody>
              {% for team in teams %}
                <tr>
                  <td> {{ team.id }} </td>
                  <td> {{ team.project.title }} </td>
                  <td> {{ team.status.name }} </td>
                  <td> {% for member in team.members %}
                      {{ member.user.first_name }} {{ member.user.last_name }} ({{ member.user.programme.code }})
                      {% if member.project_manager %}
                          <span class="glyphicon glyphicon-star"></span>
                      {% endif %}
                      <div class="right-control">
                          {{m.email(title="Email", return_url='admin.list_teams', id=member.user.id)}}
                      </div>
                        <br/>
                      {%  endfor %}
                  </td>
                  <td> {{ team.created_date }} </td>
                  <td> {{ team.updated_date }} </td>
                  <td>
                      {{ m.team_email(return_url='admin.list_teams', id=team.id)}}
                      {{ m.edit('team', team.id) }}
                      {{ m.delete('team', team.id) }}
                      {{ m.preview(team.id) }}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No teams have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_team') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Team
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% block footer %}{{  super() }}{% endblock footer%}
{% endblock %}
