{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Academic Years{% endblock %}
{% block content %}

<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        <h1 style="text-align:center;">Academic Years</h1>
        {% if academic_years %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Year </th>
                  <th width="40%"> Start date </th>
                  <th width="40%"> End date </th>
                  <th width="15%"> Project Count </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for academic_year in academic_years %}
                <tr>
                  <td> {{ academic_year.year }} </td>
                  <td> {{ academic_year.start_date }} </td>
                  <td> {{ academic_year.end_date }} </td>
                  <td>
                    {% if academic_year.projects %}
                      {{ academic_year.projects|length }}
                    {% else %}
                      0
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('admin.edit_academic_year', year=academic_year.year) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_academic_year', year=academic_year.year) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No academic years have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_academic_year') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Academic Year
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% block footer %}{{  super() }}{% endblock footer%}
{% endblock %}
