{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Domains{% endblock %}
{% block content %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        <h1 style="text-align:center;">Domains</h1>
        {% if domains %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Domain </th>
                  <th width="40%"> Description </th>
                  <th width="15%"> Occurrences </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for domain in domains %}
                <tr>
                  <td> {{ domain.name }} </td>
                  <td> {{ domain.description }} </td>
                  <td>
                    {% if domain.statuses %}
                      {{ domain.statuses|length }}
                    {% else %}
                      0
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('admin.edit_domain', id=domain.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_domain', id=domain.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No domains have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_domain') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Domain
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% block footer %}{{  super() }}{% endblock footer%}
{% endblock %}
