{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            <h1>Profile</h1>
            <br/>
            <form method='post' role='form'>
                {{ wtf.quick_form(form) }}
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block help %}
    <p>The <em>Profile comment</em> text is visible to students once they are assigned to a project.
    </p>
    <p>
    The other fields cannot be altered because they are set by the University's user directory system. In particular,
    please note that all communications will be sent to your University email address.
    </p>
{% endblock %}
