<div>
    <div style="text-align: center">
        <h1>Welcome to Projects Exchange</h1>
    </div>
    <br>
    <hr class="intro-divider">
    <p>This site is operated by the School of Computing at Edinburgh Napier University</p>
    <p>Here you can post project briefs for the students completing the Group Project module which takes place between January and April each year.</p>
    <p>To get started quickly, just click the <i>New project</i> link in the menu and fill in the boxes.</p>
    <p>Please remember to update your company profile information.</p>
    <br/>
    <p>Each page of the site has help informaton available which you can access by clicking <i>Help</i> in the menu.</p>
    <p>After you have saved a new project, it goes through a checking process before it is visible to the students. The details will be reviewed by a member of academic staff who may discuss some changes with you.</p>
    <p>For further informaton, you can use the <i>FAQ</i> link at the foot of the page, or use the <i>Contact</i> link to send us a message.</p>
    <hr class="intro-divider">
</div>
